<ng-container *ngFor="let user of users$ | async">
  <ng-container *ngTemplateOutlet="userTemplate; context: user"></ng-container>
</ng-container>

<ng-container *ngIf="loading$ | async"><app-loader></app-loader></ng-container>
<button (click)="getUsers()">Get Users</button>

<ng-template #userTemplate let-name="name" let-age="age" let-id="id">
  <div [class.active]="currentUser && currentUser.id === id" (click)="selectUser(id)" class="list-item">
    <span>{{name}}, {{age}}</span>
    <span class="delete" *ngIf="currentUser?.id === id" (click)="delete()">Delete</span>
  </div>
</ng-template>
